body {
  font-size: 16px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  max-width: 1360px;
  padding: 0 15px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  margin-bottom: 36px;
  font-weight: normal;
}